// OVERRIDES AND CUSTOM STYLES
h1, h2, h3, h4 {
   text-align: center;
   text-transform: capitalize;
   font-family: "Courier New", monospace;
}
logo {
   text-align: center;
}

nav {
   font-family: "Courier New", monospace;
   margin-bottom: -2px;
}