// OVERRIDES AND CUSTOM STYLES
h1 {
   text-align: center;
   text-transform: capitalize;
   font-family: "Courier New", monospace;
}
logo {
   text-align: center;
}

h3, h4 {
   text-transform: capitalize;
   font-family: "Courier New", monospace;
}

nav {
   font-family: "Courier New", monospace;
}

