{{ partial "head" . }}

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
  {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
  {{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<div class="backdrop">
  <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
  {{ partial "header" . }}
</header>

<main class="main">
<div class="drawer">
  {{ partial "drawer" . }}
</div>

<article class="article">
  <div class="wrapper">
    <h2>Welcome to the OpEx Runbook!</h2>
    <p>Shortcuts:</p>
    <ul>
      <li><a href="https://docs.google.com/document/d/15EVwjOl7hJK617z0aq_--5h2oQ6tM1TQPTsRCLJfqDE/edit?pli=1">Onboarder Troubleshooting Guide</a></li>
      <li><a href="https://onboarder-opex-staging.g5devops.com">Onboarder - Staging</a></li>
      <li><a href="https://onboarder-opex-staging.g5devops.com">Onboarder - Production</a></li>
    <p>I am a Developer:</p>
    <ul>
      <li><a href="/kubernetes/getting-started/">Kubernetes on Amazon</a></li>
      <li><a href="/gcp/">Google Cloud Platform</a></li>
    </ul>
    <p>I am a Tester:</p>
    <ul>
      <li><a href="/general-testing-info/">General Testing Info</a></li>
      <li><a href="/unit-testing/">Unit Testing</a></li>
      <li><a href="/regression-testing">Regression Testing</a></li>
    </ul>  
    <p>Blah Blah Blah</p>
    <footer class="footer">
      {{ partial "footer" . }}
    </footer>
  </div>
</article>

<div class="results" role="status" aria-live="polite">
  <div class="scrollable">
    <div class="wrapper">
      <div class="meta"></div>
      <div class="list"></div>
    </div>
  </div>
</div>
</main>